<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Driver Selection</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <style>
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container justify-content-center">
                <a class="navbar-brand justify-content-center" href="/">Golf Club Recommendations</a>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Personalised Golf Club Recommendations</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Based on your answers, here are some recommendations.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3 mt-3" href="/">Start Again</a>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3 mt-3" data-bs-toggle="collapse" href="#collapseAnswers" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Click to View Your Answers and Recommendations
                          </a>
                    </div>
                </div>
                <div class="collapse" id="collapseAnswers">
                    <div class="card card-body mt-3 ">
                        <h3>Your Answers</h3>
                        <ul>
                            <% questions.forEach((q, index) => { %>
                                <li class="list-group-item">
                                    <strong>Q<%= index + 1 %>: <%= q.question %></strong>
                                    <p>Your Answer: <%= answers[index] %></p>
                                    <p class="text-muted"><%= q.explanation %></p>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                  </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-1">
                <h2 class="text-center">Your Perfect Matches</h2>
                <% if (primaryRecommendations.length === 0) { %>
                    <div class="text-center mt-2">
                        <p class="fw-bold text-danger">Sorry, no perfect matches were found based on your answers.</p>
                        <p class="fw-bold">Please check out the closest recommendations below.</p>
                    </div>
                <% } else { %>
                    <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        <% primaryRecommendations.forEach((driver, index) => { %>
                        <div class="col mb-3 driver-card-primary <%= index >= 4 ? 'd-none' : '' %>">
                            <div class="card h-100">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <p class="fw-bolder"><%= driver.year %></p>
                                        <h3 class="fw-bolder"><%= driver.brand %></h3>
                                        <h5 class="fw-bolder"><%= driver.model %></h5>
                                        <p class="fw-bolder">Loft: <%= driver.loft %>°</p>
                                        <p class="fw-bolder">Forgiveness: <%= driver.forgiveness %></p>
                                        <p class="fw-bolder">Launch: <%= driver.launch %></p>
                                        <p class="fw-bolder">£<%= driver.price %></p>
                                        <p class="fw-bolder text-success">Match: <%= driver.matchPercentage %>%</p>
                                        <a href="/selectShafts?<%= driver.brand %><%= driver.model %><%= driver.price %>" class="btn btn-primary mt-2">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <% if (primaryRecommendations.length > 4) { %>
                    <div class="text-center mt-2">
                        <button id="show-all-primary" class="btn btn-primary">Show All</button>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </section>
        
        <section class="py-5 bg-dark" id="closest-recommendations">
            <div class="container px-4 px-lg-5 mt-1">
                <h2 class="text-center text-white">Closest Recommendations</h2>
                <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% secondaryRecommendations.forEach((driver, index) => { %>
                    <div class="col mb-3 driver-card-secondary <%= index >= 4 ? 'd-none' : '' %>">
                        <div class="card h-100">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <p class="fw-bolder"><%= driver.year %></p>
                                    <h3 class="fw-bolder"><%= driver.brand %></h3>
                                    <h5 class="fw-bolder"><%= driver.model %></h5>
                                    <p class="fw-bolder">Loft: <%= driver.loft %>°</p>
                                    <p class="fw-bolder">Forgiveness: <%= driver.forgiveness %></p>
                                    <p class="fw-bolder">Launch: <%= driver.launch %></p>
                                    <p class="fw-bolder">£<%= driver.price %></p>
                                    <p class="fw-bolder text-warning">Match: <%= driver.matchPercentage %>%</p>
                                    <p class="fw-bolder text-danger">Missing Criteria: <%= driver.missingCriteria.join(', ') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <% if (secondaryRecommendations.length > 4) { %>
                <div class="text-center mt-2">
                    <button id="show-all-secondary" class="btn btn-primary">Show All</button>
                </div>
                <% } %>
            </div>
        </section>
        
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="text-center">Other Recommendations</h2>
                <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% tertiaryRecommendations.forEach((driver, index) => { %>
                    <div class="col mb-3 driver-card-tertiary <%= index >= 4 ? 'd-none' : '' %>">
                        <div class="card h-100">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <p class="fw-bolder"><%= driver.year %></p>
                                    <h3 class="fw-bolder"><%= driver.brand %></h3>
                                    <h5 class="fw-bolder"><%= driver.model %></h5>
                                    <p class="fw-bolder">Loft: <%= driver.loft %>°</p>
                                    <p class="fw-bolder">Forgiveness: <%= driver.forgiveness %></p>
                                    <p class="fw-bolder">Launch: <%= driver.launch %></p>
                                    <p class="fw-bolder">£<%= driver.price %></p>
                                    <p class="fw-bolder text-warning">Match: <%= driver.matchPercentage %>%</p>
                                    <p class="fw-bolder text-danger">Missing Criteria: <%= driver.missingCriteria.join(', ') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <% if (tertiaryRecommendations.length > 4) { %>
                <div class="text-center mt-2">
                    <button id="show-all-tertiary" class="btn btn-primary">Show All</button>
                </div>
                <% } %>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script>
           
        </script>
    </body>
</html>