<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WeSellGolf Golf Club Recommendations</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container justify-content-center">
                <a class="navbar-brand justify-content-center" href="/">Golf Club Recommendations</a>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Personalised Golf Club Recommendations</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Based on your answers, here are some recommendations.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3 mt-3" href="/">Start Again</a>
                    </div>
                </div>
                <div class="container px-4 px-lg-5 my-5">
                    <!-- Sidebar for displaying user's answers -->
                    <div class="sidebar text-white">
                        <h3>Your Answers</h3>
                        <ul>
                            <% answers.forEach((answer, index) => { %>
                                <li><strong>Q<%= index + 1 %>:</strong> <%= answer %></li>
                            <% }); %>
                        </ul>
                    </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% for (let i = 0; i < drivers.length; i++) { %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <p6 class="fw-bolder"><%= drivers[i].year %></p6>
                                    <h3 class="fw-bolder"><%= drivers[i].brand %></h3>
                                    <h5 class="fw-bolder"><%= drivers[i].model %></h5>
                                    <h5 class="fw-bolder"><%= drivers[i].loft %>°</h5>
                                    <h5 class="fw-bolder"><%= drivers[i].forgiveness %></h5>
                                    <!-- Product price-->    
                                    <p1>£<%= drivers[i].price %></p1>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>